.shell {
  max-width: 600px; margin: 0 auto;
}
.row { display: flex; display: flex; align-items: flex-start; justify-content: space-between;}
/* .column { margin-right: 20px;} */
.column:last-child { margin-right: 0;}
.column-1of5 {width: 18%;}
.column-4of5 {width: 78%;}
.column-3of5 {width: 58%;}


form { border-top: 5px solid #000; padding-top: 15px;}
form .error-message { color: red; font-size: 12px;}
input { width: 100%; padding: 5px; border: 2px dotted #000;  text-align: center;}

/*
table td.name {width: 60%; }
table td.amount {width: 20%;}
table td.action {width: 20%;} */

thead {position: relative; height: 80px;}
thead::after { content: ''; width: 100%; height: 5px; background: #000; position: absolute; bottom: 10px;}

.button { display: inline-block;  padding: 5px 15px; border-radius: 5px; box-shadow: none; border: 2px solid #000; width: 100%; cursor: pointer;}
.button:hover { background-color:  #fff;}
.listing table { width: 100%;}

.app-logo { height: 60px; width: 60px; position: absolute; pointer-events: none; top: 15px;}